.botonVerde{
    background-color: rgba(0, 128, 0, 0.733);
    color: white;
    border-radius: 3px;
    padding: 8px 10% 8px 5%; /* distancia entre margenes de boton y contenido */
    margin: 8px 5px 8px 0px;/* distancia del elemento completo con los otros elementos */
    
    
    height: 15%; /* alto */
}
.divLogin{
    padding: 10% 5%;
    position: center;
    right:-25%;
    
}
.botonMostrarDiv{
    background-color: rgba(17, 107, 243, 0.952);
    color: rgb(0, 0, 0);
    border-radius: 3px;
    padding: 1rem;
}
.botonMostrarDiv:hover{
    background-color: rgb(147, 233, 226);
}

.botonVerde:hover{
    background-color:  rgb(14, 71, 14);
}

input[type=button]{
    font-size: 100%;
    cursor: pointer;
    text-align: center;
}
